@{
    ViewBag.Title = "NotifyFromPayPal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="nocontainer">
    <div class="col-md-9">
        <h2><b>Thank you!!</b></h2> <div class="shop-content" style="margin-top: 22px;">
            <div class="shop-list">
                <div class="grid-item2 mb30">
                    <div class="row">
                        <img src="~/images/success_payment.png" />
                        </div></div></div></div>
                    </div>
