@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

            <div class="nocontainer">
                <!-- Slider -->
                <div class="slider col-md-9 col-xs-7">
                    <div class="fullwidthbanner-container">
                        <div class="fullwidthbanner" id="intro">
                            <ul>
                                <!-- First SLIDE -->
                                <li data-transition="random" data-slotamount="10" data-masterspeed="300">
                                    <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                                    <img src="/images/1.jpg" data-fullwidthcentering="off" alt="slide">
                                    <!-- THE CAPTIONS IN THIS SLDIE -->

                                </li>
                                <!-- second SLIDE -->
                                <li data-transition="random" data-slotamount="10" data-masterspeed="300">
                                    <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                                    <img src="/images/2.jpg" data-fullwidthcentering="off" alt="slide">
                                    <!-- THE CAPTIONS IN THIS SLDIE -->

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

               